{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <button type="submit" form="form-{{ id_prefix }}" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                </button>
                <a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-light">
                    <i class="fa fa-reply"></i>
                </a>
            </div>

            <h1>{{ heading_title }}</h1>

            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="container-fluid">
    {% if error_warning %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-pencil"></i>
                {{ text_edit }}
            </div>

            <div class="card-body">
                <form action="{{ action }}" method="post" data-oc-toggle="ajax" id="form-{{ id_prefix }}">
                    <div class="row mb-3">
                        <label for="input-{{ id_prefix }}-status" class="col-sm-2 col-form-label">{{ entry_status }}{{payment_ecpaypayment_status}}</label>
						<div class="col-sm-8">
							<div class="form-check form-switch form-switch-lg">
								<input type="hidden" name="{{ name_prefix }}_status" value="0"/>
								<input type="checkbox" name="{{ name_prefix }}_status" value="1" id="input-status" class="form-check-input" {% if status %} checked {% endif %}/>
							</div>
						</div>
                    </div>

                    <div class="row mb-3 required">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-merchant-id">
                            <span data-toggle="tooltip" title="Merchant ID">
                                {{ entry_merchant_id }}
                            </span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" name="{{ name_prefix }}_merchant_id" value="{{ merchant_id }}" placeholder="Merchant ID" id="input-{{ id_prefix }}-merchant-id" class="form-control" />
                            <div id="error-{{ id_prefix }}-merchant-id" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3 required">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-hash-key">
                            <span data-toggle="tooltip" title="Hash Key">
                                {{ entry_hash_key }}
                            </span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" name="{{ name_prefix }}_hash_key" value="{{ hash_key }}" placeholder="Hash Key" id="input-{{ id_prefix }}-hash-key" class="form-control" />
                            <div id="error-{{ id_prefix }}-hash-key" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3 required">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-hash-iv">
                            <span data-toggle="tooltip" title="Hash IV">
                                {{ entry_hash_iv }}
                            </span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" name="{{ name_prefix }}_hash_iv" value="{{ hash_iv }}" placeholder="Hash IV" id="input-{{ id_prefix }}-hash-iv" class="form-control" />
                            <div id="error-{{ id_prefix }}-hash-iv" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="input-{{ id_prefix }}-test-mode" class="col-sm-2 col-form-label">{{ entry_test_mode }}{{payment_ecpaypayment_test_mode}}</label>

						<div class="col-sm-8">
                            <small>{{ ecpaypayment_entry_test_mode_info }}</small>
							<div class="form-check form-switch form-switch-lg">
								<input type="hidden" name="{{ name_prefix }}_test_mode" value="0"/>
								<input type="checkbox" name="{{ name_prefix }}_test_mode" value="1" id="input-test-mode" class="form-check-input" {% if test_mode %} checked {% endif %}/>
							</div>
						</div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-methods">
                            {{ entry_payment_methods }}
                        </label>
                        <div class="col-sm-8">
                            {% if payment_methods.Credit is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit]" value="credit" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit]" value="credit" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_credit }}
                            </label>

                            <br />

                            {% if payment_methods.Credit_3 is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_3]" value="credit_3" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_3]" value="credit_3" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_credit_3 }}
                            </label>

                            <br />

                            {% if payment_methods.Credit_6 is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_6]" value="credit_6" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_6]" value="credit_6" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_credit_6 }}
                            </label>

                            <br />

                            {% if payment_methods.Credit_12 is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_12]" value="credit_12" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_12]" value="credit_12" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_credit_12 }}
                            </label>

                            <br />

                            {% if payment_methods.Credit_18 is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_18]" value="credit_18" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_18]" value="credit_18" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_credit_18 }}
                            </label>

                            <br />

                            {% if payment_methods.Credit_24 is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_24]" value="credit_24" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[Credit_24]" value="credit_24" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_credit_24 }}
                            </label>

                            <br />

                            {% if payment_methods.WebATM is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[WebATM]" value="webatm" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[WebATM]" value="webatm" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_webatm }}
                            </label>

                            <br />

                            {% if payment_methods.ATM is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[ATM]" value="atm" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[ATM]" value="atm" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_atm }}
                            </label>

                            <br />

                            {% if payment_methods.BARCODE is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[BARCODE]" value="barcode" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[BARCODE]" value="barcode" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_barcode }}
                            </label>

                            <br />

                            {% if payment_methods.CVS is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[CVS]" value="cvs" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[CVS]" value="cvs" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_cvs }}
                            </label>

                            <br />

                            {% if payment_methods.COD is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[COD]" value="cod" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[COD]" value="cod" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_cod }}
                            </label>

                            <br />

                            {% if payment_methods.BNPL is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[BNPL]" value="bnpl" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[BNPL]" value="bnpl" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_bnpl }}
                            </label>

                            <br />

                            {% if payment_methods.TWQR is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[TWQR]" value="twqr" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[TWQR]" value="twqr" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_twqr }}
                            </label>

                            <br />

                            {% if payment_methods.DCA is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[DCA]" value="dca" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[DCA]" value="dca" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_dca }}
                            </label>

                            <br />

                            {% if payment_methods.ApplePay is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[ApplePay]" value="applepay" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[ApplePay]" value="applepay" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_applepay }}
                            </label>

                            <br />

                            {% if payment_methods.UnionPay is defined %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[UnionPay]" value="unionpay" checked="checked" />
                            {% else %}
                                <input class="form-check-input" type="checkbox" name="{{ name_prefix }}_payment_methods[UnionPay]" value="unionpay" />
                            {% endif %}
                            <label class="form-label" for="input-{{ id_prefix }}-payment-methods">
                                &nbsp;{{ text_unionpay }}
                            </label>

                            <br />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-dca-period-type">
                            {{ entry_dca_period_type }}
                        </label>
                        <div class="col-sm-8">
                            <select name="{{ name_prefix }}_dca_period_type" id="input-{{ id_prefix }}-dca-period-type" class="form-select">
                                {% for period_type in dca_period_types %}
                                    {% if period_type == dca_period_type %}
                                        <option value="{{ period_type }}" selected="selected">{{ period_type }}</option>
                                    {% else %}
                                        <option value="{{ period_type }}">{{ period_type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-dca-frequency">
                            {{ entry_dca_frequency  }}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" name="{{ name_prefix }}_dca_frequency" value="{{ dca_frequency }}" placeholder="{{ entry_dca_frequency }}" id="input-{{ id_prefix }}-dca-frequency" class="form-control" />
                            <div id="error-{{ id_prefix }}-dca-frequency" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-dca-exec-times">
                            {{ entry_dca_exec_times }}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" name="{{ name_prefix }}_dca_exec_times" value="{{ dca_exec_times }}" placeholder="{{ entry_dca_exec_times }}" id="input-{{ id_prefix }}-dca-exec-times" class="form-control" />
                            <div id="error-{{ id_prefix }}-dca-exec-times" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-create-status">
                            {{ entry_create_status }}
                        </label>
                        <div class="col-sm-8">
                            <select name="{{ name_prefix }}_create_status" id="input-{{ id_prefix }}-create-status" class="form-select">
                                {% for temp_status in order_statuses %}
                                    {% if temp_status.order_status_id == create_status %}
                                        <option value="{{ temp_status.order_status_id }}" selected="selected">{{ temp_status.name }}</option>
                                    {% else %}
                                        <option value="{{ temp_status.order_status_id }}">{{ temp_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-success-status">
                            {{ entry_success_status }}
                        </label>
                        <div class="col-sm-8">
                            <select name="{{ name_prefix }}_success_status" id="input-{{ id_prefix }}-success-status" class="form-select">
                                {% for temp_status in order_statuses %}
                                    {% if temp_status.order_status_id == success_status %}
                                        <option value="{{ temp_status.order_status_id }}" selected="selected">{{ temp_status.name }}</option>
                                    {% else %}
                                        <option value="{{ temp_status.order_status_id }}">{{ temp_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-failed-status">
                            {{ entry_failed_status }}
                        </label>
                        <div class="col-sm-8">
                            <select name="{{ name_prefix }}_failed_status" id="input-{{ id_prefix }}-failed-status" class="form-select">
                                {% for temp_status in order_statuses %}
                                    {% if temp_status.order_status_id == failed_status %}
                                        <option value="{{ temp_status.order_status_id }}" selected="selected">{{ temp_status.name }}</option>
                                    {% else %}
                                        <option value="{{ temp_status.order_status_id }}">{{ temp_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-geo-zone">
                            {{ entry_geo_zone }}
                        </label>
                        <div class="col-sm-8">
                          <select name="{{ name_prefix }}_geo_zone_id" id="input-{{ id_prefix }}-geo-zone" class="form-select">
                            <option value="0">{{ text_all_zones }}</option>
                                {% for temp_zone in geo_zones %}
                                    {% if temp_zone.geo_zone_id == geo_zone_id %}
                                        <option value="{{ temp_zone.geo_zone_id }}" selected="selected">{{ temp_zone.name }}</option>
                                    {% else %}
                                        <option value="{{ temp_zone.geo_zone_id }}">{{ temp_zone.name }}</option>
                                    {% endif %}
                                {% endfor %}
                          </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-{{ id_prefix }}-sort-order">
                            {{ entry_sort_order }}
                        </label>
                        <div class="col-sm-8">
                            <input type="text" name="{{ name_prefix }}_sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-{{ id_prefix }}-sort-order" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}